.section {
  height: 180px;
  background-color: #c4a187;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../assets/images/librarie3.jpg");
  background-size: cover;
} 

.subsection {
  height: 52vh;
  background-color: #ddcabb;
}

.sectionOne {
  height: 370px;
  background-image: url("../../assets/images/librarie2.jpg");
  background-size: cover;
}

.subSectionThree {
  height: 10%;
}

div.bookOne {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 45px;
  outline: none;
  cursor: pointer;
}

div.book {
  text-align: center;
  height: 20px;
}

.challenge {
  vertical-align: middle;
  text-align: middle;
}

h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-size: 20px;
  padding: 30px 10px 15px;
  text-align: left;
  color: #565051;
  letter-spacing: .05em;
  margin-top: 0;
}

p {
  color: #566D7E;
  font-family: 'Cardo', serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin: 5px 0;
}


.row {
  display: flex;
  width: 100%;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 5px;
}
