<div class="page-container">
  <div class="login-container">
    <div class="logo"></div>
    <div class="default-text big">Bine ai venit la <span class="semibold">Todobook</span>!</div>
    <div class="default-text">Makes you read more (while on company time, duh)</div>
    <div style="position: relative">
      <input class="default-input username" maxlength="25" minlength="4" [placeholder]="'username'">
      <div class="user-image"></div>
      <div class="default-message-error">err message</div>
    </div>
    <div style="position: relative">
      <input class="default-input password" type="password" maxlength="15" minlength="4" [placeholder]="'password'">
      <div class="pass-image"></div>
      <div class="default-message-error"></div>
    </div>
    <div class="default-button">Log in</div>
    <hr>
  </div>
</div>
