.page-container {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 50px 0;

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url("../../assets/images/login.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
}

.login-container {
  position: relative;
  opacity: 1;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  background: url("../../assets/images/logo.jpeg") no-repeat center;
  background-size: contain;
  margin-bottom: 40px;
}

.default-input {
  padding: 0 20px 0 30px !important;
  &.username {

  }
}

.user-image, .pass-image {
  position: absolute;
  z-index: 1;
}

.user-image {
  top: 6px;
  left: 6px;
  width: 22px;
  height: 22px;
  background: url("../../assets/images/user-icon.jpg") no-repeat center;
  background-size: contain;
}

.pass-image {
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../../assets/images/pass-icon.png") no-repeat center;
  background-size: contain;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.margin-top {
  margin-top: 15px;
}

.login-line {
  width: calc(100% + 100px);
  height: 1px;
  background-color: #D9C2B1;
  margin: 30px;
}
